.projectsBlock {
    padding: 20px 0;
    height: 100vh;
    background-color: #f6e7c6;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.title {
    background-color: azure;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 865px) {
    .projectsBlock {
        padding: 20px 0;
        height: auto;
        background-color: #f6e7c6;
    }
    .projects {
        flex-direction: column;
        border: none;
    }
}
